    {% if messages %}
        {% for message in messages %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                });

                Toast.fire({
                    title: "{{ message }}",
                    icon: "{{ message.tags|default:'info' }}"
                });
            </script>
        {% endfor %}
    {% endif %}
